.jumbotron{
  margin: 5rem;
}

.oops{
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: normal;
  line-height: 2;
}

.tryAgainButton{
  margin-left: 5rem;
}

.oopsParagraph{
  font-family: "Montserrat";
  font-weight: normal;
  line-height: 1.5;
}
